<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MasterOfSpam.Properties.Settings.MailsAndSendersConnectionString"
            connectionString="Data Source=OPI8\SQLExpress;Initial Catalog=MailsAndSenders;Persist Security Info=True;User ID=sa;Password=gfhfuhfa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>